.special-offer{
    top: 0;
    height: 2.5em;
    text-align: center;
    background-color: #072b48;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

.special-offer p{
    color:white;
    margin: 0;
    padding: 0;
    font-weight: 500;
    padding-top: 0.5em;

}

.special-close-button{
    margin: 0;
    padding: 0;
    display: flex;
    align-self: center;;
    color:white;
    border-radius: 50%;
    padding: 0.5em;
}
.special-close-button:hover{
    color: var(--main);

}
